@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body,
html {
    background-color: #000;
    color: #fff;
}

header {
    height: 220px;
    background: linear-gradient(180deg, #102347 0%, #000000 100%);
    justify-content: center;
    display: flex;
    align-items: center;

}


a,
a:hover,
a:visited {
    color: unset;
    text-decoration: none;
}
